<p-tabView styleClass="custom-tabview">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </ng-template>
        <div class="form-container">
            <app-opcoes-perfil></app-opcoes-perfil>
        </div>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-trophy"></i>
            <span>Conquistas</span>
        </ng-template>

        <app-opcoes-conquistas></app-opcoes-conquistas>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-bookmark"></i>
            <span>Favoritos</span>
        </ng-template>
        <app-opcoes-favoritos></app-opcoes-favoritos>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-bell"></i>
            <span>Notificações</span>
        </ng-template>

        <app-opcoes-notificacoes></app-opcoes-notificacoes>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>Preferências</span>
        </ng-template>

        <app-opcoes-preferencias></app-opcoes-preferencias>
    </p-tabPanel>

</p-tabView>