<p-tabView styleClass="custom-tabview">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-user"></i>
            <span>Perfil</span>
        </ng-template>

        <p>teste 1</p>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-trophy"></i>
            <span>Conquistas</span>
        </ng-template>

        <p>teste 2</p>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-bookmark"></i>
            <span>Favoritos</span>
        </ng-template>

        <p>teste 3</p>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-bell"></i>
            <span>Notificações</span>
        </ng-template>

        <p>teste 4</p>
    </p-tabPanel>

    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-cog"></i>
            <span>Preferências</span>
        </ng-template>

        <p>teste 5</p>
    </p-tabPanel>

</p-tabView>