<div class="invite-box" [formGroup]="form">

    <div class="p-field">
        <label for="emailInput">Adicionar aluno por email</label>

        <div class="email-input">
            <input id="emailInput" pInputText [(ngModel)]="emailInput" [ngModelOptions]="{ standalone: true }"
                (keyup.enter)="adicionarEmail()" placeholder="ex: aluno@email.com">

            <button pButton icon="pi pi-plus" (click)="adicionarEmail()"
                [disabled]="!emailInput || !emailInput.includes('@')"></button>
        </div>
    </div>

    <div class="p-field">
        <label>Período</label>

        <p-dropdown [options]="periodos" optionLabel="periodos" optionValue="periodos" formControlName="periodo"
            placeholder="Selecione o período">
        </p-dropdown>
    </div>



    <div class="counter">
        Total de alunos: <strong>{{ quantidadeAlunos }}</strong>
    </div>

    <p-table *ngIf="quantidadeAlunos > 0" [value]="alunosForTable" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]" class="invite-table" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} alunos" [totalRecords]="quantidadeAlunos">
        <ng-template pTemplate="header">
            <tr>
                <th>Email</th>
                <th style="width: 120px;">Ação</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-aluno let-i="rowIndex">
            <tr>
                <td>
                    <span class="email-badge">
                        {{ aluno.email }}
                    </span>
                </td>

                <td>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger bt-trash"
                        (click)="removerEmail(i)">
                    </button>
                </td>
            </tr>
        </ng-template>

    </p-table>

    <div class="p-d-flex p-jc-between p-mt-4">

        <p-button label="Voltar" icon="pi pi-angle-left" (onClick)="voltar()"
            styleClass="p-button-secondary p-button-text">
        </p-button>

        <p-button label="Próximo" icon="pi pi-angle-right" iconPos="right" (onClick)="nextStep()">
        </p-button>

    </div>


</div>