<div class="invite-box">

    <div class="p-field">
        <label for="emailInput">Adicionar aluno por email</label>

        <div class="email-input">
            <input id="emailInput" pInputText [(ngModel)]="emailInput" (keyup.enter)="adicionarEmail()" placeholder="ex: aluno@email.com" />

            <button pButton icon="pi pi-plus" (click)="adicionarEmail()" [disabled]="!emailInput || !emailInput.includes('@')"></button>
        </div>
    </div>

    <div class="counter">
        Total de alunos: <strong>{{ alunos.length }}</strong>
    </div>

    <p-table *ngIf="alunos.length > 0" [value]="alunosForTable" [paginator]="true" [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]" class="invite-table" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} alunos" [totalRecords]="alunos.length">
        <ng-template pTemplate="header">
            <tr>
                <th>Email</th>
                <th style="width: 120px;">Ação</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-aluno let-i="rowIndex">
            <tr>
                <td>
                    <span class="email-badge">
                        {{ aluno.email }}
                    </span>
                </td>

                <td>
                    <button pButton icon="pi pi-trash" class="p-button-text p-button-danger bt-trash" (click)="removerEmail(i)">
                    </button>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>
