<section class="footer">
  <hr>
  <div class="container">
    <div class="colum-left">
      <img src="assets/Logo.png" alt="">
      <div class="links">
        <ul>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="colum-right">
      <p>Plataforma Gerenciada pelo grupo AYO <br>2026</p>
    </div>
  </div>
</section>
