<main class="layout">
  <app-app-sidebar></app-app-sidebar>

  <section class="content">
    <div class="app-header">
      <div class="header-left">
        <p-divider layout="vertical"></p-divider>
        <div class="text-container">
          <p>Sua jornada</p>
          <h3>{{pageLabel}}</h3>
        </div>
      </div>

      <div class="header-center">
        <span class="search-box p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText placeholder="Buscar cursos" />
        </span>
      </div>

      <div class="header-right">
        <button class="icon-btn">
          <i class="pi pi-bell"></i>
        </button>
        <div class="account-wrapper" (click)="toggleMenu($event)">
          <button class="icon-btn">
            <i class="pi pi-user"></i>
          </button>

          <p-overlayPanel #op appendTo="body">
            <app-card-minha-conta [data]="accountData"></app-card-minha-conta>
          </p-overlayPanel>
        </div>
      </div>

    </div>
    <router-outlet></router-outlet>
  </section>
</main>