<div class="gerenciar-modulos">
  <div class="card">
    <div class="header">
      <h2>Gerenciar Módulos</h2>

      <button pButton label="Novo Módulo" icon="pi pi-plus" class="btn-novo" (click)="novoModulo()"
        *ngIf="view === 'lista'"></button>
    </div>

    <div *ngIf="view === 'lista'" class="lista-modulos">
      <div class="modulo-card" *ngFor="let modulo of modulos; let i = index">

        <div class="icon">
          <i class="pi pi-code"></i>
        </div>

        <div class="conteudo">
          <div class="top">
            <span class="tag">{{ modulo.trilha?.nome }}</span>
            <!-- <span class="status" [ngClass]="modulo.status">
              {{ modulo.status || 'PUBLICADO' }}
            </span> -->
          </div>

          <h3>{{ modulo.nome }}</h3>
          <p>{{ modulo.descricao }}</p>

          <div class="meta">
            <span>
              <i class="pi pi-question-circle"></i>
              {{ modulo.questoes?.length || 0 }}
              {{ (modulo.questoes?.length || 0) > 1 ? 'Questões' : 'Questão' }}
            </span>
            <span><i class="pi pi-bolt"></i> {{ modulo.xpAoConcluir || 0 }} XP</span>
            <span><i class="pi pi-pi-clock"></i>{{modulo.cargaHoraria || 0}}hrs</span>
          </div>
        </div>

        <div class="acoes">
          <button pButton label="Editar" icon="pi pi-pencil" class="p-button-outlined"
            (click)="editarModulo(modulo)"></button>

          <button pButton icon="pi pi-trash" class="p-button-text p-button-danger" (click)="removerModulo(modulo)"></button>
        </div>
      </div>

      <p *ngIf="modulos.length === 0" class="empty">
        Nenhum módulo cadastrado
      </p>
    </div>

    <div *ngIf="view === 'form'">
      <app-cadastrar-modulo [modulo]="moduloSelecionado" (onSave)="salvarModulo($event)"
        (onCancel)="cancelar()"></app-cadastrar-modulo>
    </div>
  </div>
</div>