<aside>
    <section class="sidebar">
        <div class="header">
            <img src="../../../assets/ayo.png" alt="">
            <p-divider layout="vertical"></p-divider>
        </div>
        <ul>
            <li  routerLinkActive="active" routerLinkActive="active" [routerLink]="['trilhas']">
                <a pRipple
                    class="item-sidabar" >
                    <i class="pi pi-book mr-2"></i>
                    <span class="font-medium">Trilhas</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/app/gerenciar-trilha']">
                <a pRipple
                    class="item-sidabar">
                    <i class="pi pi-sitemap mr-2"></i>
                    <span class="font-medium">Gerenciar Trilhas</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/app/gerenciar-turmas']"> 
                <a pRipple
                    class="item-sidabar">
                    <i class="pi pi-graduation-cap mr-2"></i>
                    <span class="font-medium">Gerenciar Turmas</span>
                </a>
            </li>

            <li routerLinkActive="active" [routerLink]="['/app/gerenciar-modulo']" [routerLinkActiveOptions]="{ exact: true }">
                <a pRipple
                    class="item-sidabar">
                    <i class="pi pi-shield mr-2"></i>
                    <span class="font-medium">Gerenciar módulos</span>
                </a>
            </li>
            
            <li>
                <a pRipple
                    class="item-sidabar">
                    <i class="pi pi-comments mr-2"></i>
                    <span class="font-medium">Serviço de atenção</span>
                </a>
            </li>

            <div class="footer-sidebar">
                <li routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['minha-conta']">
                    <a pRipple
                        class="item-sidabar">
                        <i class="pi pi-user mr-2"></i>
                        <span class="font-medium">Minha conta</span>
                    </a>
                </li>
                <li class="logout" (click)="logout()">
                    <a pRipple
                        class="item-sidabar">
                        <i class="pi pi-sign-out mr-2"></i>
                        <span class="font-medium">Sair</span>
                    </a>
                </li>
            </div>
        </ul>
    </section>
</aside>