<div class="quiz-container">
  <form [formGroup]="form">
    <div class="question-card">
      <p-accordion>
        <p-accordionTab [selected]="true">
          <ng-template pTemplate="header">
            <div class="header-content">
              <div class="header-left">
                <span class="number-circle">{{ index + 1 }}</span>

                <div class="type-tag">
                  <i class="pi pi-circle-fill"></i>
                  VERDADEIRO / FALSO
                </div>
              </div>
              
              <div class="header-right">
                <i class="pi pi-trash icon-btn" (click)="removeQuestion()"></i>
              </div>
            </div>
          </ng-template>

          <div class="content-body">

            <div class="input-group">
              <label>Enunciado</label>
              <textarea
                pInputTextarea
                formControlName="enunciado"
                rows="3"
                class="full-width-input"
                placeholder="Digite a afirmação..."
              ></textarea>
            </div>

            <div class="vf-toggle">
              <div
                class="vf-option"
                [class.active]="form.get('resposta')?.value === true"
                (click)="form.get('resposta')?.setValue(true)"
              >
                ✔ Verdadeiro
              </div>

              <div
                class="vf-option"
                [class.active]="form.get('resposta')?.value === false"
                (click)="form.get('resposta')?.setValue(false)"
              >
                ✖ Falso
              </div>
            </div>

            <div class="footer-row">
              <div class="xp-badge">
                <i class="pi pi-bolt"></i>
                <span>XP</span>
                <input type="number" formControlName="xp" class="xp-input">
              </div>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

  </form>
</div>