<div class="card" [formGroup]="form">
    <div class="card-header">
        <div class="top-line">
            <h2>Identificação do módulo</h2>
        </div>
    </div>

    <p>Essas informações aparecem nos cards de trilha e na busca dos alunos.</p>

    <div class="p-field">
        <label for="tituloModulo">Título do módulo</label>
        <input id="tituloModulo" type="text" pInputText formControlName="nome"/>
    </div>

    <div class="p-field">
        <label for="resumo">Resumo</label>
        <textarea id="resumo" pInputTextarea  formControlName="descricao"></textarea>
    </div>

    <div class="p-formgrid">
        <div>
            <div class="p-field">
                <label>Trilha</label>
                <p-dropdown [options]="trilhas"  optionLabel="name" formControlName="trilha"></p-dropdown>
            </div>
        </div>

        <div>
            <div class="p-field">
                <label>Carga horária</label>
                <input type="text" pInputText  />
            </div>
        </div>

        <div>
            <div class="p-field">
                <label>XP</label>
                <p-inputNumber formControlName="xpAoConcluir"></p-inputNumber>
            </div>
        </div>
    </div>

    <div class="p-d-flex p-jc-between p-mt-4">
        <p-button label="Voltar" icon="pi pi-angle-left" (onClick)="cancel()"
            styleClass="p-button-secondary p-button-text p-mr-2">
        </p-button>

        <div>
            <p-button label="Cancelar" (onClick)="cancel()" styleClass="p-button-secondary p-button-text p-mr-2">
            </p-button>

            <p-button label="Próximo" iconPos="right" (onClick)="nextStep()">
            </p-button>
        </div>
    </div>
</div>