<section class="back-end-courses">
    <div class="nav" [routerLink]="['/app/cursos']">
        <i class="pi pi-arrow-left"></i>
        <span>Voltar para trilhas</span>
    </div>
    <app-card-cursos [info]="info"></app-card-cursos>
    <div class="status-cards">
        <app-card-status *ngFor="let card of statusCards" [data]="card">
        </app-card-status>
    </div>
    <app-info-modulos></app-info-modulos>
    <app-modulos-stepper [modulos]="backendModules"></app-modulos-stepper>
</section>