<div class="card">
  <h2>Questionário</h2>

  <app-config-quiz></app-config-quiz>

  <app-tipo-questao (typeSelected)="addQuestao($event)"></app-tipo-questao>

  <div *ngFor="let q of questoes.controls; let i = index">

    <app-multipla-escolha *ngIf="q.get('tipo')?.value === 'MULTIPLA_ESCOLHA'" [model]="$any(q)"
      (remove)="removerQuestao(i)">
    </app-multipla-escolha>

    <app-verdadeiro-falso *ngIf="q.get('tipo')?.value === 'VERDADEIRO_FALSO'" [form]="$any(q)" [index]="i"
      (remove)="removerQuestao(i)">
    </app-verdadeiro-falso>

    <app-caixas-selecao *ngIf="q.get('tipo')?.value === 'CAIXAS_SELECAO'" [form]="$any(q)" [index]="i" (remove)="removerQuestao(i)">
    </app-caixas-selecao>

    <app-questao-aberta
      *ngIf=" q.get('tipo')?.value==='QUESTAO_ABERTA'"
      [form]=" $any(q)" (remove)="removerQuestao(i)">
      </app-questao-aberta>

  </div>
</div>