<div class="hero-card">
    <div class="hero-content">
        <span class="hero-badge">
            <i class="pi pi-sparkles"></i>
            Bem-vindo, aventureiro
        </span>
        <div class="text-container">
            <h1>Escolha sua trilha e comece a quest</h1>
            <img src="../../../assets/logo_transparent-removebg-preview.png" alt="">
        </div>
        <p>
            Três áreas, infinitas possibilidades. Avance em Front-end, Back-end e
            Banco de Dados no seu ritmo.
        </p>
    </div>

    <div class="hero-stats">
        <div class="stat-box">
            <strong>3</strong>
            <span>TRILHAS</span>
        </div>

        <div class="stat-box">
            <strong>36</strong>
            <span>MÓDULOS</span>
        </div>

        <div class="stat-box">
            <strong>122h</strong>
            <span>HORAS</span>
        </div>
    </div>
</div>