<p-stepper [activeStep]="activeStep" (activeStepChange)="activeStep = $event">

    <p-stepperPanel header="Dados Básicos">
        <ng-template pTemplate="content" let-nextCallback="nextCallback">
            <app-step-dados-basicos
                [form]="dadosBasicosForm"
                (onNext)="nextCallback.emit()">
            </app-step-dados-basicos>
        </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Configurações">
        <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback"
            let-nextCallback="nextCallback">

            <app-step-configuracao-turma
                [form]="configuracoesForm"
                (onPrev)="prevCallback.emit()"
                (onNext)="nextCallback.emit()">
            </app-step-configuracao-turma>

        </ng-template>
    </p-stepperPanel>

    <p-stepperPanel header="Responsável">
        <ng-template
            pTemplate="content"
            let-prevCallback="prevCallback">

            <app-step-responsavel
                [trilhas]="trilhas"
                [form]="responsavelForm"
                (onPrev)="prevCallback.emit()"
                (finish)="salvar()">
            </app-step-responsavel>

        </ng-template>
    </p-stepperPanel>

</p-stepper>